@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 10vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5.5rem;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

ul {
  margin-left: 2.5rem;
}

li {
  list-style-type: none;
  margin-top: 0.5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 65%;
  text-align: center;
  color: white;
}

.landing-background {
  background-image: url('./images/sunset.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-2 {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.section-title h1 {
  display: inline-block;
  font-size: 3rem;
  border-bottom: 3.5px solid #64edbf;
  padding-bottom: 0.5rem;
}

.information > div {
  margin-bottom: 2rem;
}

.information h2,
.information h3 {
  color: grey;
}

.information h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.information h2 {
  font-size: 1.25rem;
  font-style: italic;
}

.progress-container {
  width: 70%;
  margin: 0 auto 2rem auto;
}

.progress-container h2 {
  font-size: 1.35rem;
}

.progress {
  margin-top: 0.5rem;
  background-color: rgb(170, 170, 170);
  height: 3rem;
  border-radius: 15px;
}

.bar {
  height: 100%;
  background-color: #15202b;
  border-radius: inherit;
}

.border {
  height: 3px;
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 2.5rem;
  }

  .information h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .information h2 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
  .section-title h1 {
    font-size: 2.5rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: unset !important;
    grid-template-rows: 10% 90%;
    width: 100%;
  }

  .progress-container {
    width: 100%;
  }
}

@media only screen and (min-width: 540px) and (max-width: 1190px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.85rem;
  }

  .information h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .information h2 {
    font-size: 1.125rem;
  }

  .section-title h1 {
    font-size: 2rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: unset !important;
    grid-template-rows: 10% 90%;
    width: 100%;
  }
}
